<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Viewport for mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- force IE to use latest rendering mode -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <!-- navbar begins -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">COTL</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About COTL</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chord Charts
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">A</a></li><li><a href="#">B</a></li><li><a href="#">C</a></li>
          <li><a href="#">D</a></li><li><a href="#">E</a></li><li><a href="#">F</a></li>
          <li><a href="#">G</a></li><li><a href="#">H</a></li><li><a href="#">I</a></li>
          <li><a href="#">J</a></li><li><a href="#">K</a></li><li><a href="#">L</a></li>
          <li><a href="#">M</a></li><li><a href="#">N</a></li><li><a href="#">O</a></li>
          <li><a href="#">P</a></li><li><a href="#">Q</a></li><li><a href="#">R</a></li>
          <li><a href="#">S</a></li><li><a href="#">T</a></li><li><a href="#">U</a></li>
          <li><a href="#">V</a></li><li><a href="#">W</a></li><li><a href="#">X</a></li>
          <li><a href="#">Y</a></li><li><a href="#">Z</a></li>
        </ul>
      </li>
      <li><a href="#">About Site</a></li>
    </ul>
  </div>
  </nav>

  <!-- JS placed at end of document to load page faster -->
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
